.picture {
  height: 500px;
  width: 425px;
  margin: 0.5%;
  background-color: #3FA16C;
  float: left;
  border-radius: 8px;
}

.picture .title {
  margin: 15px;
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
}

.picture .description {
  overflow-y: auto;
  margin: 5px;
  height: 20%;
}

img {
  width: 75%;
  height: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.delete {
  width: 90px;
  margin-right: 15px;
  color: black;
  background-color: #b85c5c;
  border-color: #ae4c4c;
}

.delete:hover {
  color: white;
  background-color: #9d4444;
  border-color: #843939;
}

.download {
  width: 90px;
  margin-left: 15px;
}

.download:hover {
  background-color: #266141;
}
